{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "development": false
            }
        },
        "loose": false,
        "externalHelpers": true
    },
    "minify": false,
    "isModule": true
}